
# Virtual environment
venv/
 
# Python cache
# Pytest cache
.pytest_cache/

# Python cache
__pycache__/
*.py[cod]
 
# Database 
backend/data/*.db
 
# Environment variables
.env
 
# OS 
.DS_Store
.vscode/


